VITE_SUPABASE_URL=https://lnlryoqmurfgxhjamndy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxubHJ5b3FtdXJmZ3hoamFtbmR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0Nzk0MDksImV4cCI6MjEwNDA1NTQwOX0.kcQgKsGsSg4qNuFvRGNyhLC84pOBCZk2dqgev8PqNP4

